.hero-list-box{
    width: 100%;
    max-width: 267px;
    background-color: var(--header-bgcolor);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
    border-radius: 5px;
    list-style: none;
    margin-top: 68px;
}

.box-place{
    padding: 24px 0 46px 24px;
}

.hero-list-box-title{
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: var(--text-color);
}
strong{
    margin-top: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color);
}
.hero-list-box-text{
    margin: 0;
    margin-top: 8px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color);
}