
:root{
  --header-bgcolor:#fff;
  --body-bgcolor:#f2f2f2;
  --main-font-family: "Nunito Sans", "Arial", sans-serif;
  --text-color:#111517;
  --card-border-radius:5px;
}
.theme-dark{
  --header-bgcolor:#2B3844;
  --text-color:#fff;
  --body-bgcolor:#202C36;
  --dark-moon: url("../src/Another/Img/moon.svg");
}


.hero{
  padding: 80px 0;
}

.hero-list{
  gap: 25px;
  justify-content: center;
  padding: 0;
}


/* ///////////////////////// */



.container {
  width: 100%;
  max-width: 1192px;
  margin: 0 auto;
  padding: 0 20px;
}